In [10]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_absolute_error,mean_squared_error,r2_score
data = pd.read_csv('50_Startups.csv')
data.isnull().sum()
data.head(2)

   R&D Spend  Administration  Marketing Spend       State     Profit
0   165349.2       136897.80        471784.10    New York  192261.83
1   162597.7       151377.59        443898.53  California  191792.06

In [11]:
x= data.iloc[ :, 0:-1  ].values
y= data.iloc[: , -1].values

In [12]:
#data preprocessing
OHE = ColumnTransformer(transformers= [( 'encoder', OneHotEncoder(), [3]   )], remainder='passthrough' )
finl_OHE = OHE.fit(x)
x = finl_OHE.transform(x)

In [14]:
X = x[:,0:7 ]

from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=0.30, random_state=0)

In [15]:
mltilinear_reg = LinearRegression()
mltilinear_reg.fit(X_train,y_train)
y_pred = mltilinear_reg.predict(X_test)

In [16]:
#the accuracy of this model
print("Mean-absolute_error:" , mean_absolute_error(y_test,y_pred))
print("Mean-squared_error:",mean_squared_error(y_test,y_pred))
print("r2_score:",round(r2_score(y_test, y_pred),2))

Mean-absolute_error: 6520.697183079808
Mean-squared_error: 61903144.40237594
r2_score: 0.94