In [36]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import PolynomialFeatures
from sklearn.metrics import mean_absolute_error,mean_squared_error,r2_score
data = pd.read_csv('50_Startups.csv')
y=data['Profit']
x=data.drop('Profit',axis=1)

state=pd.get_dummies(x['State'])
x=x.drop('State',axis=1)
x=pd.concat([x,state],axis =1)
x.head()

   R&D Spend  Administration  Marketing Spend  California  Florida  New York
0  165349.20       136897.80        471784.10           0        0         1
1  162597.70       151377.59        443898.53           1        0         0
2  153441.51       101145.55        407934.54           0        1         0
3  144372.41       118671.85        383199.62           0        0         1
4  142107.34        91391.77        366168.42           0        1         0

In [37]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size = 0.2, random_state = 1)

poly_model=PolynomialFeatures(degree =1)
x_poly_train=poly_model.fit_transform(x_train,y_train)
x_poly_test=poly_model.fit_transform(x_test,y_test)

Poly_regression=LinearRegression()
Poly_regression.fit(x_poly_train,y_train)

y_poly_pred = Poly_regression.predict(x_poly_test)
y_test

27    105008.31
35     96479.51
40     78239.91
38     81229.06
2     191050.39
3     182901.99
48     35673.41
29    101004.64
46     49490.75
31     97483.56
Name: Profit, dtype: float64

In [38]:
print("Mean-absolute_error:" , mean_absolute_error(y_test,y_poly_pred))
print("Mean-squared_error:",mean_squared_error(y_test,y_poly_pred))
print("r2_score:",r2_score(y_test, y_poly_pred))

Mean-absolute_error: 7698.11981748474
Mean-squared_error: 79495441.50410959
r2_score: 0.9649618042060469